/* -- usar como css para el archivo .html ejemplo8 -- */

h2 {
    color: #2c3e50;
    font-family: sans-serif;
    background-color: #e8f4fd;
    margin: 10px 255px 8px 30px;
    border: 2px solid #3498db;
}

p {
    color: #34495e;
    font-family: sans-serif;
    line-height: 1.6;
    font-size: 16px;
    margin: 3px 30px;
    padding-left: 70px;
    border: 2px solid #3498db;
    background-color: #f9f9f9;
}