#oros {
    position: absolute;
    left: 100px;
    top: 100px;
    z-index: 1;
}

#copas {
    position: absolute;
    left: 175px;
    top: 175px;
    z-index: 2;
}

#espadas {
    position: absolute;
    left: 250px;
    top: 250px;
    z-index: 3;
}

#bastos {
    position: absolute;
    left: 325px;
    top: 325px;
    z-index: 4;
}