h2 {
    color: #2c3e50;
    font-family: sans-serif;
    border-bottom: 2px solid #3498db;
    padding-bottom: 5px;
    margin-top: 20px;
    background-color: aquamarine;
}

p {
    color: #34495e;
    font-family: sans-serif;
    line-height: 1.6;
    font-size: 16px;
    margin-bottom: 15px;
}

body {
    background-image: url(butterfly.png);
    background-repeat: no-repeat;
    background-position: center center;
}

/* ejemplo de backgroudn a secas como shortcut
background : #FFCC66 url("butterfly.gif") no-repeat fixed right bottom;
*/