#box1 {
    position: absolute;
    top: 50px;
    left: 50px;
    background-color: red;
}

#box2 {
    position: absolute;
    top: 50px;
    right: 50px;
    background-color: green;
}

#box3 {
    position: absolute;
    bottom: 50px;
    right: 50px;
    background-color: blue;
}

#box4 {
    position: absolute;
    bottom: 50px;
    left: 50px;
    background-color: yellow;
}

#dog1 {
    border: 5px solid red;
    position: relative;
    left: 100px;
    bottom: 100px;
}

#dog2 {
    border: 5px solid red;
    position: relative;
    left: 150px;
    bottom: 500px;
}

#dog3 {
    position: relative;
    left: 250px;
    bottom: 170px;
}