#column1 {
    float: left;
    width: 33%;
}

#column2 {
    float: left;
    width: 33%;
}

#column3 {
    float: left;
    width: 33%;
}

body {
    font-family: sans-serif;
    line-height: 1.6;
    font-size: 16px;
    margin: 3px 30px;
    padding-left: 70px;
    border: 2px solid #3498db;
    background-color: #f9f9f9;
}

div {}