/* Estilos para cajas ejercicio 4A para examen */

body {
    background-color: bisque;
    border-style: dotted;
    border-radius: 20px;
    border-width: 5px;
    border-color: rgb(120, 58, 17);
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 400%;
    margin: auto;
    padding-left: 5%;
    padding-top: 5%;

}

div {
    font-weight: 500%;
    width: 9%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-bottom: auto;
    padding-top: auto;
    float: left;
    padding: 8px;
    margin: 3%;
    border-style: outset;
    border-color: brown;
    border-width: 3px;
    border-radius: 10px;
    height: 100px;
}