#box1 {
    left: 10%;
    width: 70%;
    top: 15%;
    height: 10%;
}

#box2 {
    left: 10%;
    width: 70%;
    top: 15%;
    height: 10%;
}

#box3 {
    left: 10%;
    width: 70%;
    top: 15%;
    height: 10%;
}

#box4 {
    left: 10%;
    width: 70%;
    top: 15%;
    height: 10%;
}

#box5 {
    left: 10%;
    width: 70%;
    top: 15%;
    height: 10%;
}

#box6 {
    left: 10%;
    width: 70%;
    top: 15%;
    height: 10%;
}