/* Estilos para cajas ejercicio 4A para examen */

body {
    background-color: bisque;
    border-style: dotted;
    border-radius: 20px;
    border-width: 5px;
    border-color: rgb(120, 58, 17);
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 400%;
    margin: auto;
    padding-left: 5%;
    padding-top: 5%;

}

div {
    font-weight: 500%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-bottom: auto;
    padding-top: auto;
    position: relative;
    border-style: outset;
    border-color: brown;
    border-width: 3px;
    border-radius: 10px;
}

#box1 {
    left: 10%;
    width: 70px;
    top: 15%;
    height: 10%;
}

#box2 {
    left: 40%;
    width: 10%;
    top: 30%;
    height: 10%;
    bottom: 114px;
}

#box3 {
    left: 20%;
    width: 70%;
    top: 45%;
    height: 10%;
}

#box4 {
    left: 10%;
    width: 20%;
    top: 60%;
    height: 30%;
}

#box5 {
    left: 40%;
    width: 20%;
    top: 60%;
    height: 10%;
}

#box6 {
    left: 70%;
    width: 20%;
    top: 10%;
    height: 30%;
}