/* Estilos para cajas ejercicio 4A para examen */

body {
    background-color: bisque;
    border-style: dotted;
    border-color: rgb(120, 58, 17);
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 400%;
    margin: auto;
    padding-left: 5%;
    padding-top: 5%;

}

.estrechas {
    border: 3px dashed green;
    width: 8%;
    margin: 30px 2%;
    float: left;
    font-weight: bold;
    padding: 10px;
    height: 50%;
}

p.limpia {
    clear: both;
}

div#central {
    width: 80%;
    margin: auto;
    background-color: palegreen;
    border: 1px solid red;
}