/* estilos para flex 9 ejemplo de css */

div {
    display: flex;
}

p {
    flex-grow: 1;
    border: black 2px solid;
    margin: 10px;
    padding: 5px;
}

/* doble de ancho en el reparto */
p.mayor {
    flex-grow: 2;
}