div {
    width: 80%;
    margin: auto;
    border: 2px solid rgb(118, 192, 176);
    background-color: rgb(221, 253, 245);
}

img {
    float: right;
    margin: 15px;
    max-width: 80%;
    max-height: 150px;
    height: auto;
}